### Kaggle link to the ML Titanic page
https://www.kaggle.com/c/titanic

In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
print(train.shape)
print(test.shape)

(891, 12)
(418, 11)

In [4]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [6]:
train.drop(['PassengerId','Name','Ticket','Cabin'], axis=1, inplace=True)
test.drop(['PassengerId','Name','Ticket','Cabin'], axis=1, inplace=True)

In [7]:
train.dropna(inplace=True)
test.dropna(inplace=True)

In [8]:
train['Sex'] = train.Sex.map({'male':1,'female':0})
test['Sex'] = test.Sex.map({'male':1,'female':0})

In [9]:
train['Embarked'] = train.Embarked.map({'Q':0,'S':1,'C':2})
test['Embarked'] = test.Embarked.map({'Q':0,'S':1,'C':2})

In [10]:
X = train.drop('Survived', axis=1).values
y = train.Survived.values

In [11]:
X_test = test.values

In [12]:
X_test

array([[   3.    ,    1.    ,   34.5   , ...,    0.    ,    7.8292,    0.    ],
       [   3.    ,    0.    ,   47.    , ...,    0.    ,    7.    ,    1.    ],
       [   2.    ,    1.    ,   62.    , ...,    0.    ,    9.6875,    0.    ],
       ...,
       [   3.    ,    0.    ,   28.    , ...,    0.    ,    7.775 ,    1.    ],
       [   1.    ,    0.    ,   39.    , ...,    0.    ,  108.9   ,    2.    ],
       [   3.    ,    1.    ,   38.5   , ...,    0.    ,    7.25  ,    1.    ]])

# Machine Learning with sklearn

### (K Nearest Neighbors)

In [13]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=6)

In [14]:
knn.fit(X,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=6, p=2,
           weights='uniform')

In [15]:
knn.score(X,y)

0.7668539325842697

# Train Test Split

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [18]:
knn.score(X_test,y_test)

0.7415730337078652

In [19]:
knn.score(X,y)

0.7668539325842697

In [20]:
predictions = knn.predict(X_test)
print(predictions)

[0 0 1 0 0 0 0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 1 1
 1 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 1 1 0 1 0 0 0 0 1 1 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 1 0 0 0 1 0
 1 0 0 1 0 1 0 1 0 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 0 1 1 0
 0 0 0 1 0 0 1 0 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 1 0 1 0 0 0 1]

# Hyperparameter Tuning

In [21]:
from sklearn.model_selection import GridSearchCV

In [22]:
knn2 = KNeighborsClassifier()

In [23]:
param_grid = {'n_neighbors':np.arange(1,50)}

In [24]:
knn_cv = GridSearchCV(knn2, param_grid, cv=5)

In [25]:
knn_cv.fit(X,y)

GridSearchCV(cv=5, error_score='raise',
       estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform'),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=0)

In [26]:
knn_cv.best_params_

{'n_neighbors': 26}

In [27]:
knn_cv.best_score_

0.7092696629213483

In [28]:
knn3 = KNeighborsClassifier(n_neighbors=26)

In [29]:
knn3.fit(X,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=26, p=2,
           weights='uniform')

In [30]:
knn3.score(X_test,y_test)

0.702247191011236